.header{
    text-transform: uppercase;
    background-color: black;

    & table{
        padding-left: 16px;
        padding-top: 16px;
    }

    & h1{
        font-family: "Courier New", serif;
        font-size: 64px;
        color: aliceblue;
    }

    & img{
        width: 150px;
        height: 150px;
    }

    & ul{
        background-color: #000000;
        font-family: "Roboto Light", sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        & li{
            float: left;
        }

        & li a {
            display: block;
            color: aliceblue;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        & li a:hover {
            background-color: #3a3a3a;
        }
    }
}

.content{
    color: aliceblue;
    text-align: center;
    font-family: "Courier New", serif;
    padding-top: 64px;
    line-height: 1.5;
    background: linear-gradient(135deg, #670101, black);
    padding-bottom: 500px;
}

html{
    background-color: black;
}



